<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(40.8285955, -73.421102);
    var myOptions = {zoom: 12, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP};
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	<% @venues.select{|x| x.active}.each do |v| %>
			var latlong_<%= v.id %> = new google.maps.LatLng(<%= v.latlong %>);
			var marker_<%= v.id %> = new google.maps.Marker({position: latlong_<%= v.id %>, map: map, title:"<%= v.name %>"});
			var contentString_<%= v.id %> = "<a href=\"/venues/<%= v.id %>\"><%= v.name %></a><br/><%= pluralize(v.comments.size, 'comment') %>";
			var infowindow_<%= v.id %> = new google.maps.InfoWindow({content: contentString_<%= v.id %>});
			google.maps.event.addListener(marker_<%= v.id %>, 'click', function() {
				infowindow_<%= v.id %>.open(map,marker_<%= v.id %>);
			});
	<% end %>
	<% @users.each do |u| %>
		var latlong_u<%= u.id %> = new google.maps.LatLng(<%= u.latlong %>);
		var yellowIcon_<%= u.id %> = new google.maps.MarkerImage("http://esa.ilmari.googlepages.com/markeryellow.png");
		var point_<%= u.id %> = new GLatLng(<%= u.latlong %>);
		var contentString_u<%= u.id %> = "<%= h u.name %><br/><%= h u.address %>";
		var marker_u<%= u.id %> = new google.maps.Marker({position: latlong_u<%= u.id %>, map: map, title:"<%= u.name %>", icon:yellowIcon_<%= u.id %>});
		var infowindow_u<%= u.id %> = new google.maps.InfoWindow({content: contentString_u<%= u.id %>});
		google.maps.event.addListener(marker_u<%= u.id %>, 'click', function() {
			infowindow_u<%= u.id %>.open(map, marker_u<%= u.id %>);
		});
	<% end %>	
  var targetAreaCoords = [
		new google.maps.LatLng(40.836541,-73.33271),
	  new google.maps.LatLng(40.836801,-73.425064),
	  new google.maps.LatLng(40.777422,-73.422661),
	  new google.maps.LatLng(40.779762,-73.33271)];
	  
	var targetArea = new google.maps.Polygon({
		paths: targetAreaCoords,
	  strokeColor: "#FF0000",
	  strokeOpacity: 0.8,
	  strokeWeight: 2,
	  fillColor: "#FF0000",
	  fillOpacity: 0.35}); 
		targetArea.setMap(map);
  }
</script>

<div id="map_canvas" style="width:960px; height:80%"></div>

<p><%= link_to 'Add A New Venue', new_venue_path %></p>

<% @venues.each do |v| %>
	<p>
		<%= link_to v.name, venue_path(v.id) %><br/>
		<%= h v.address %><br/>
		<%= pluralize(v.comments.size, 'comment') %><br/>
                <span style="font-size: 12px; font-style: italic;">Added by <%= h v.user.name %> <%= time_ago_in_words(v.created_at) %> ago</span>
	</p>
<% end %>
<script>
	initialize();
</script>
