<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(40.810256, -73.379245);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	<% @venues.each do |v| %>
		var latlong_<%= v.id %> = new google.maps.LatLng(<%= v.latlong %>);
		var marker_<%= v.id %> = new google.maps.Marker({
					    	position: latlong_<%= v.id %>, 
					      map: map, 
					      title:"<%= v.name %>"
					  });
						var contentString_<%= v.id %> = "<%= v.name %><br/><%= v.address %>";
						var infowindow_<%= v.id %> = new google.maps.InfoWindow({
						    content: contentString_<%= v.id %>
						});

		google.maps.event.addListener(marker_<%= v.id %>, 'click', function() {
			infowindow_<%= v.id %>.open(map,marker_<%= v.id %>);
		});
		<% end %>

  }
</script>

<div id="map_canvas" style="width:960px; height:80%"></div>

<p><%= link_to 'Add A New Venue', new_venue_path %></p>

<% @venues.each do |v| %>
	<p>
		<%= link_to v.name, venue_path(v.id) %><br/>
		<%= h v.address %>
	</p>
<% end %>
<script>
	initialize();
</script>