<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(<%= @venue.latlong %>);
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		var latlong_<%= @venue.id %> = new google.maps.LatLng(<%= @venue.latlong %>);
		var marker_<%= @venue.id %> = new google.maps.Marker({
					    	position: latlong_<%= @venue.id %>, 
					      map: map, 
					      title:"<%= @venue.name %>"
						});
						var contentString_<%= @venue.id %> = "<a href=\"/venues/<%= @venue.id %>\"><%= @venue.name %></a>";
						var infowindow_<%= @venue.id %> = new google.maps.InfoWindow({
						    content: contentString_<%= @venue.id %>
						});

		google.maps.event.addListener(marker_<%= @venue.id %>, 'click', function() {
			infowindow_<%= @venue.id %>.open(map,marker_<%= @venue.id %>);
		});
  }
</script>

<div>
	<div style="float: left; width: 500px;">
		<%= link_to @venue.name, venue_path(@venue.id) %><br/>
		<%= h @venue.address %>
		<p>
			<table cellpadding="1" cellspacing="0" border="0">
				<tr>
					<th>&nbsp;</th>
					<th>Distance&nbsp;&nbsp;</th>
					<th>Est. Commute Time&nbsp;</th>
				</tr>
			<% @users.each do |u| %>
				<tr>
					<td><%= u.name %>&nbsp;</td>
					<td align="center"><%= number_with_precision(@venue.distance_from(u, :units => :miles), :precision => 1) %> mi.</td>
					<td align="center"><%= number_with_precision(((@venue.distance_from(u, :units => :miles) / 50) * 60), :precision => 0) %> min.</td>
				</tr>
			<% end %>
			</table>
			<p><span style="font-size: 14px; font-style:italic;">Commute time assumes a 55 mph avg. speed</span></p>
		</p>
	</div>
	<div id="map_canvas" style="width:300px; height:300px; float: left;"></div>
	<div style="clear:both;"></div>
</div>

<div>
	<p><%= pluralize(@venue.comments.size, 'Comment') %></p>
	<% @venue.comments.each do |c| %>
		<p>
			<div style="font-size: 14px;">
				<%= c.user.name %><br/>
				<%= auto_link(c.content) %>
			</div>
		</p>
	<% end %>
	<p>
		<b>Post A New Comment</b>
		<% form_for @comment, :url => venue_comments_path(@venue.id) do |f| %>
			<%= f.text_area :content, :cols => 40, :rows => 10 %><br/>
			<%= f.hidden_field :venue_id, {:value => @venue.id} %>
			<%= f.hidden_field :user_id, {:value => @user.id} %>
			<%= submit_tag "Add Comment" %>
		<% end %>
	</p>
</div>
<script>
	initialize();
</script>